[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
telethon = "*"
python-dotenv = "*"
flask = {extras = ["async"], version = "*"}
quart = "*"
hypercorn = "*"
mangum = "*"
"mega.py" = "*"
bs4 = "*"
requests = "*"
youtube-dl = "*"
yt-dlp = "*"
flask-wtf = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
